<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
  <select id="findById" resultType="com.practice.spring.User">
    SELECT * FROM tbl_user where userId = #{userId}
  </select>
  
  <insert id="create" parameterType="com.practice.spring.User">
  	INSERT INTO tbl_user(userId, password, name, email) VALUES(#{userId}, #{password}, #{name}, #{email})
  </insert>
</mapper>